<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's My Name</title>
    <style type="text/css">
    	.form-group{
    		border: 3px solid black;
    		width: 300px;
    		height: 300px;

    	}
    </style>
</head>
<body>
    
    <form action="/process" method="post" id="form1">
        <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" name="name"><br>
            <label for="location">Dojo Location:</label>
            <select name="location">
			  <option value="burbank">burbank</option>
			  <option value="chicago">chicago</option>
			  <option value="seatle">seatle</option>
			  <option value="silicon villge">silicon villge</option>
			</select>
			<br>
            <label for="language">Favorate Language:</label>
            <select name="language">
			  <option value="python">python</option>
			  <option value="javascript">javascript</option>
			  <option value="java">java</option>
			  <option value="sql">sql</option>
			</select>
			<br>
			<label for="comment">Comment (optional):</label>
            <input type="text" name="comment" id="comment"><br>

            <input type="submit" name="sub"><br>
        </div>
            
    </form>
    
</body>
</html>